{% extends 'index.html' %}

{% block content %}

{% if movie['backdrop_path'] != None %}
    {% set backdrop = 'https://image.tmdb.org/t/p/w780/' + movie['backdrop_path'] %}
{% endif %}

{% if movie['poster_path'] != None %}
    {% set img_url = 'https://image.tmdb.org/t/p/w300/' + movie['poster_path'] %}
{% endif %}
<div class="current-movie-card demo-wrap">
    <img class="demo-bg" src="{{ backdrop }}" alt="">
    <div class="img-div">
        <img src="{{ img_url }}" alt="" class="poster-movie">
    </div>
    <div class="details">
        <div class="demo-content">
            <h2>{{ movie['title'] }}</h2>
            <h4 style="margin-top: 5px;">{{ movie['tagline'] }}</h4>
            <span class="fa fa-star checked" style="color: orange; margin-left: 5px;"></span>
            <span style="font-size: 0.8rem; font-weight: bold;">{{ movie['vote_average'] }}</span>
            <p style="margin: 10px 0;">
                <span class="dot"></span>
                {% for genre in movie["genres"] %}
                    <span>{{ genre['name'] }}</span> <span class="dot"></span>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
<div class="overview">
    <h3>Overview</h3>
    <p style="margin-top: 10px;">{{ movie['overview'] }}</p>
</div>


{% endblock %}